<p>
    <strong>Title:</strong>
    <%= @book.本のタイトル %>
</p>

<p>
    <strong>Body:</strong>
    <%= @book.感想 %>
</p>
<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Back", '/books' %>
<%= link_to "Destroy", destroy_book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %>